<!DOCTYPE html>
<html>
<head>
   <title>Wheel Assembly Cycle Time Record</title>
   <script type="text/javascript" src="js\jquery.min.js"></script>
   <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
   <script src="js\vue.js"></script>
   <script type="text/javascript" src="js\vue_resource.js"></script>
   <script type="text/javascript" src="js\moment.min.js"></script>
   <script type="text/javascript" src="js\lodash.min.js"></script>
   <link rel='stylesheet' href='/BootstrapVue_/bootstrap.min.css'/>
   <link rel='stylesheet' href='/BootstrapVue_/bootstrap-vue.css'/>
   <script type="text/javascript" src="/BootstrapVue_/bootstrap-vue.js"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #6687b9;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Helvetica", Times, serif;
    font-size: 18px;
  }

  li a:hover:not(.active) {
    color: #1e1e1f;
    background-color: #8dbced;
    text-decoration: none;
  }

  /*li a.active {
    color: #1e1e1f;
    background-color: #8dbced;
    text-decoration: none;
  }*/
</style>

<body>
  <div id="app">
    <ul>
      <li><a href="#"><span class="oi oi-arrow-thick-left"></span>Return</a></li>
      <li><a href="#">Line 1A</a></li>
      <li><a href="#">Line 1B</a></li>
      <li><a href="#">Line 2A</a></li>
      <li><a href="#">Line 2B</a></li>
      <li><a href="#">Line 3A</a></li>
      <li><a href="#">Line 3B</a></li>
      <li><a href="#">Line 4A</a></li>
      <li><a href="#">Line 4B</a></li>
      <li><a href="#">Line DA1</a></li>
      <li><a href="#">Line DA2</a></li>
    </ul>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <h3>Line 1A</h3>
              
              <h5 style="margin-top: 1em;">Spoke Assembly</h5>
              <div class="row" style="margin-top: 1em">
                <label class="col-4">Model</label>
                <select class="col-5 form-control" v-model="model_sa">
                  <option value="">-- Select Model --</option>
                  <option v-for="modelItem in modelItems" v:bind-text="modelItem">{{modelItem}}</option>
                </select>
              </div>
              <div class="row" style="margin-top: 1em">
                <label class="col-4">Operator ID</label>
                <input type="text" v-model="oprtid_sa" class="col-5 form-control" style="text-transform: uppercase;">
              </div>
              <img src="img\Spoke Assembly.png" width="200" height="250">
              <b-button :pressed.sync="toggleSA" variant="outline-primary" v-on:click="CaptureTime_SA">Click Me</b-button>
              <div class="row">
                <label class="col-4">Start Time</label>
                <input type="text" class="col-4 form-control" v-model="starttime_sa" readonly>
              </div>
              <div class="row" style="margin-top: 1em;">
                <label class="col-4">End Time</label>
                <input type="text" class="col-4 form-control" v-model="endtime_sa" readonly>
              </div>
              <div class="row" style="margin-top: 1em;">
                <label class="col-4">Duration (second)</label>
                <input type="text" class="col-4 form-control" v-model="duration_sa" readonly>
              </div>
            </div>

            <div class="col">
              <b-table 
                    hover
                    sticky-header="600px" 
                    :items="SpokeAssLine1ATable">
              </b-table>
            </div>
          </div>

          <hr>

          <div class="row" style="margin-top: 2em;">
            <div class="col">
              <h5>Pre-Tighten (RV2)</h5>
              <div class="row" style="margin-top: 1em">
                <label class="col-4">Model</label>
                <select class="col-5 form-control" v-model="model_rv2">
                  <option value="">-- Select Model --</option>
                  <option v-for="modelItem in modelItems" v:bind-text="modelItem">{{modelItem}}</option>
                </select>
              </div>
              <div class="row" style="margin-top: 1em">
                <label class="col-4">Operator ID</label>
                <input type="text" v-model="oprtid_rv2" class="col-5 form-control" style="text-transform: uppercase;">
              </div>
              <img src="img\rv2.png" width="200" height="250">
              <b-button :pressed.sync="toggleRV2" variant="outline-primary" v-on:click="CaptureTime_RV2">Click Me</b-button>

              <div class="row">
                <label class="col-4">Start Time</label>
                <input type="text" class="col-4 form-control" v-model="starttime_rv2" readonly>
              </div>
              <div class="row" style="margin-top: 1em;">
                <label class="col-4">End Time</label>
                <input type="text" class="col-4 form-control" v-model="endtime_rv2" readonly>
              </div>
              <div class="row" style="margin-top: 1em;">
                <label class="col-4">Duration (second)</label>
                <input type="text" class="col-4 form-control" v-model="duration_rv2" readonly>
              </div>
            </div>
            <div class="col">
              <b-table 
                    hover
                    sticky-header="600px"
                    :items="RV2Line1ATable">
              </b-table>
            </div>
          </div>

          <hr>

          <div class="row" style="margin-top: 2em;">
            <div class="col">
              <h5>Najimase</h5>
              <div class="row" style="margin-top: 1em">
                <label class="col-4">Model</label>
                <select class="col-5 form-control" v-model="model_najimase">
                  <option value="">-- Select Model --</option>
                  <option v-for="modelItem in modelItems" v:bind-text="modelItem">{{modelItem}}</option>
                </select>
              </div>
              <div class="row" style="margin-top: 1em">
                <label class="col-4">Operator ID</label>
                <input type="text" v-model="oprtid_najimase" class="col-5 form-control" style="text-transform: uppercase;">
              </div>
              <img src="img\Najimase.jpg" width="200" height="250">
              <b-button :pressed.sync="toggleNajimase" variant="outline-primary" v-on:click="CaptureTime_Najimase">Click Me</b-button>

              <div class="row">
                <label class="col-4">Start Time</label>
                <input type="text" class="col-4 form-control" v-model="starttime_najimase" readonly>
              </div>
              <div class="row" style="margin-top: 1em;">
                <label class="col-4">End Time</label>
                <input type="text" class="col-4 form-control" v-model="endtime_najimase" readonly>
              </div>
              <div class="row" style="margin-top: 1em;">
                <label class="col-4">Duration (second)</label>
                <input type="text" class="col-4 form-control" v-model="duration_najimase" readonly>
              </div>
            </div>
            <div class="col">
              <b-table 
                    hover
                    sticky-header="600px"
                    :items="NajimaseLine1ATable">
              </b-table>
            </div>
          </div>

          <hr>

          <div class="row" style="margin-top: 2em;">
            <div class="col">
              <h5>T3W</h5>
              <div class="row" style="margin-top: 1em">
                <label class="col-4">Model</label>
                <select class="col-5 form-control" v-model="model_t3w">
                  <option value="">-- Select Model --</option>
                  <option v-for="modelItem in modelItems" v:bind-text="modelItem">{{modelItem}}</option>
                </select>
              </div>
              <div class="row" style="margin-top: 1em">
                <label class="col-4">Operator ID</label>
                <input type="text" v-model="oprtid_t3w" class="col-5 form-control" style="text-transform: uppercase;">
              </div>
              <img src="img\t3w.jpg" width="200" height="250">
              <b-button :pressed.sync="toggleT3W" variant="outline-primary" v-on:click="CaptureTime_T3W">Click Me</b-button>

              <div class="row">
                <label class="col-4">Start Time</label>
                <input type="text" class="col-4 form-control" v-model="starttime_T3W" readonly>
              </div>
              <div class="row" style="margin-top: 1em;">
                <label class="col-4">End Time</label>
                <input type="text" class="col-4 form-control" v-model="endtime_T3W" readonly>
              </div>
              <div class="row" style="margin-top: 1em;">
                <label class="col-4">Duration (second)</label>
                <input type="text" class="col-4 form-control" v-model="duration_T3W" readonly>
              </div>
            </div>
            <div class="col">
              <b-table 
                    hover
                    sticky-header="600px"
                    :items="T3WLine1ATable">
              </b-table>
            </div>
          </div>

          <hr>

          <div class="row" style="margin-top: 2em;">
            <div class="col">
              <h5>Adjusting</h5>
              <img src="img\adjusting.png" width="200" height="250">

              <div class="row" style="margin-top: 1em">
                <label class="col-4">Model</label>
                <select class="col-5 form-control" v-model="model_adjust">
                  <option value="">-- Select Model --</option>
                  <option v-for="modelItem in modelItems" v:bind-text="modelItem">{{modelItem}}</option>
                </select>
              </div>
              <div class="row" style="margin-top: 1em">
                <label class="col-4">Operator ID:</label>
                <input type="text" v-model="oprtid_adjuster" class=" col-5 form-control" :disabled="oprtid_Adj_State" style="text-transform: uppercase;">
              </div>
              <div class="row">
                <b-button variant="info" v-on:click="startCapture_Adjusting" :disabled="start_Adj_State">Start</b-button>
                <b-button variant="danger" v-on:click="endCapture_Adjusting" :disabled="end_Adj_State">Stop</b-button>
              </div>
            </div>
            <div class="col">
              <b-table 
                    hover
                    sticky-header="600px"
                    :items="AdjustLine1ATable">
              </b-table>
            </div>
          </div>

          <hr>
          <div class="row" style="margin-top: 2em;">
            <div class="col">
              <h5>Final Checking</h5>
              <img src="img\Final Checking.jpg" width="200" height="250">

              <div class="row" style="margin-top: 1em">
                <label class="col-4">Model</label>
                <select class="col-5 form-control" v-model="model_final">
                  <option value="">-- Select Model --</option>
                  <option v-for="modelItem in modelItems" v:bind-text="modelItem">{{modelItem}}</option>
                </select>
              </div>
              <div class="row" style="margin-top: 1em">
                <label class="col-4">Operator ID:</label>
                <input type="text" v-model="oprtid_final" class="col-5 form-control" :disabled="oprtid_FC_State" style="text-transform: uppercase;">
              </div>
              <div class="row">
                <b-button variant="info" v-on:click="startCapture_FC" :disabled="start_FC_State">Start</b-button>
                <b-button variant="danger" v-on:click="endCapture_FC" :disabled="end_FC_State">Stop</b-button>
              </div>
            </div>
            <div class="col">
              <b-table 
                    hover
                    sticky-header="600px"
                    :items="FCLine1ATable">
              </b-table>
            </div>
          </div>

          <hr>
          <div class="row" style="margin-top: 2em;">
            <div class="col">
              <h5>Sticker Pasting</h5>
              <div class="row" style="margin-top: 1em">
                <label class="col-4">Model</label>
                <select class="col-5 form-control" v-model="model_sticker">
                  <option value="">-- Select Model --</option>
                  <option v-for="modelItem in modelItems" v:bind-text="modelItem">{{modelItem}}</option>
                </select>
              </div>
              <div class="row" style="margin-top: 1em">
                <label class="col-4">Operator ID</label>
                <input type="text" v-model="oprtid_sticker" class="col-5 form-control" style="text-transform: uppercase;">
              </div>
              <img src="img\Sticker.jpg" width="200" height="250">
              <b-button :pressed.sync="toggleSticker" variant="outline-primary" v-on:click="CaptureTime_Sticker">Click Me</b-button>

              <div class="row">
                <label class="col-4">Start Time</label>
                <input type="text" class="col-4 form-control" v-model="starttime_sticker" readonly>
              </div>
              <div class="row" style="margin-top: 1em;">
                <label class="col-4">End Time</label>
                <input type="text" class="col-4 form-control" v-model="endtime_sticker" readonly>
              </div>
              <div class="row" style="margin-top: 1em;">
                <label class="col-4">Duration (second)</label>
                <input type="text" class="col-4 form-control" v-model="duration_sticker" readonly>
              </div>
            </div>
            <div class="col">
              <b-table 
                    hover
                    sticky-header="600px"
                    :items="StickerLine1ATable">
              </b-table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <script src="js/Wheel Assembly CT/WheelAssyCT.js"></script>
</body>
</html>
